/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap');

/* Global variables */
:root {
  --very-dark-blue: hsl(233, 47%, 7%);
  --dark-desatured-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);
  --white: hsl(0, 0%, 100%);
  --slightly-transparent-white1: hsla(0, 0%, 100%, 0.75);
  --slightly-transparent-white2: hsla(0, 0%, 100%, 0.6);
}

/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: var(--very-dark-blue);
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Main container */
section {
  display: flex;
  width: 70rem;
  height: 27.813rem;
  border-radius: 8px;
  background-color: var(--dark-desatured-blue);
}

/* Content */
.content {
  display: flex;
  flex-direction: column;
  padding: 4.5rem;
  gap: 4.5rem;
}

/* Text */
.text {
  display: flex;
  flex-direction: column;
  gap: 1.563rem;
}

.main-text {
  font-size: 2.3rem;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  color: var(--white);
}

.main-text span {
  color: var(--soft-violet);
}

.secondary-text {
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  padding-right: 2rem;
  color: var(--slightly-transparent-white1);
}

/* Stats */
.stats-container {
  display: flex;
  gap: 4.5rem;
}

.stat {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.value {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  color: var(--white);
}

.category {
  font-size: 0.8rem;
  font-weight: 400;
  font-family: 'Lexend Deca', sans-serif;
  color: var(--slightly-transparent-white2);
}

/* Image */
.image {
  width: auto;
  height: 100%;
  position: relative;
}

.image::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 0 8px 8px 0;
  background-color: hsla(279, 85%, 27%, 0.55);
  position: absolute;
  left: 0;
  top: 0;
}

.mobile-image {
  display: none;
}

.desktop-image {
  border-radius: 0 8px 8px 0;
  width: auto;
  height: 100%;
}

/* Responsive design */
@media screen and (max-width: 1130px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 870px) {
  html {
    font-size: 10px;
  }

  .content {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    gap: 4rem;
  }

  .secondary-text {
    font-size: 1.2rem;
    padding: 0;
  }
}

@media screen and (max-width: 740px) {
  html {
    font-size: 8px;
  }

  .secondary-text {
    font-size: 1.5rem;
  }

  .stat {
    scale: 1.4;
  }
}

@media screen and (max-width: 560px) {
  html {
    font-size: 14px;
  }

  section {
    flex-direction: column;
    width: 80%;
    height: auto;
  }

  .image {
    width: 100%;
    height: auto;
  }

  .image::after {
    border-radius: 8px 8px 0 0;
  }

  .desktop-image {
    display: none;
  }

  .mobile-image {
    display: flex;
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
    order: 2;
  }

  .content {
    order: 1;
    padding: 1.9rem;
    gap: 2rem;
  }

  .main-text {
    font-size: 2.3rem;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    color: var(--white);
  }
  
  .text {
    text-align: center;
  }

  .main-text {
    font-size: 1.5rem;
  }
  
  .secondary-text {
    font-size: 0.9rem;
    padding: 0;
  }

  .stats-container {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .stat {
    scale: 1;
    align-items: center;
  }
}